/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background: #D2D5CE;
	color: #111216;
	font-family: 'Marcellus SC', serif;
}
#container {	
	padding: 3%;
	margin-top: 0%;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.pitch {
	background: #FFFFFF;
	padding: 3%;
	display:block;
	width: 100%;
	height: 600px;
	position:absolute;
	top: 0px;
	right: 0px;
}
.pitch .row {
	position:absolute;
	top: 25%;
	left: 10%;
}
.title h1 {
	font-size: 50px;
	font-family: 'Trade Winds', cursive;
}
.title h3 {
	font-family: 'Marcellus SC', serif;
	color: #26272E;
}
.radio {
	position: absolute;
	top: 0px;
	right: 15px;
	width: 480px;
	height: 140px;
	background: #99C7C5;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
	-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
/*	display: none;	 */
}
.radio table {
	width: 420px;
}
.radio #jp_container_1 {
	position: absolute;
	right: 30px;
}
.radio .recent {
	position: absolute;
	right: 10%;
	top: 30%;
}
.artist {
	background: #1E234B;
	padding: 3%;
	display:block;
	width: 100%;
	height: 700px;
	position:absolute;
	top: 600px;
	right: 0px;

}
.artist .row{
	background: #FBD83E;
	-moz-border-top-left-radius: 10px; /*radius of 10px*/
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
	-khtml-box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
	width: 100px;
	padding: 3%;	
}
.sponsors {
	width: 100%;
	height: 401px;
	background: #FAEAAC;
	position: absolute;
	left: 0px;
	top: 650px;
}
.footer { 
	position: absolute;
	height: 450px;
	top: 1050px;
	left: 0px;
	width: 100%;
	background: #000;
}
.footer .row {
	margin-top: 5%;
}
.footer .row span {
	color: #333;	
}
/* -----------------------------------------
   Page Name 2
----------------------------------------- */


